body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}
header {
  grid-area: 1/2/2/3;
  background-color: #321;
}
nav {
  grid-area: 1/1/3/2;
  background-color: #123;
}
main {
  grid-area: 2/2/3/3;
  background-color: #231;
}
