 
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}
header {
  grid-area: 1/2/2/3;
}
nav {
  grid-area: 1/1/3/2;
}
main {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow-y: scroll;
}
.cards {
  grid-area: 1/1/3/2;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 17rem;
}
.card {
  border: 1px solid #543;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.announcements {
  grid-area: 1 / 2 / 2/ 3;
}
.announcements ul li {

}
.trending {
  grid-area: 2 / 2 / 3/ 3;
}
